<main class="m-3 p-3">
  <div class="container-fluid " style="border:none">
      <section class="m-2 ">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Find the best Freelance jobs for you</h5>
            <form  [formGroup]="searchForm" class="col-md-12 col-sm-6">
            <div class="form-group">
              <select class="browser-default custom-select col-md-3">
                <option selected>Search by</option>
                <option value="1" selected>Category</option>
                <option value="2">Scope</option>
                <option value="3">Skills</option>
                <option value="4">Payment Type</option>
              </select>
              <mat-form-field style="width:400px !important " class="col-md-6" >
                  <input  type="text" matInput formControlName="searchValue" #searchValue (keydown.enter)="addSkill()"        
                  placeholder="Enter the Search Category">
                  <mat-icon matSuffix><i class="fas fa-angle-right float-right" style="cursor: pointer;" (click)="addSkill()"></i></mat-icon>
                </mat-form-field>
                <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelectedSkills($event.option.value)'>
                  <mat-option *ngFor="let result of filteredStates | async" [value]="result.name">{{result.name}}</mat-option>
                </mat-autocomplete> -->
          </div> 
        </form>
            <a href="#" class="btn btn-primary">Search</a>
          </div>
          <div class="card-footer">
            <p class="card-text">Suggested Searches</p>
            <ul class="list-inline col-sm-6 col-md-12">
              <span class="list-inline-item border border-success rounded pt-1" *ngFor = "let ss of suggestedSearches"><p class="p-2 blue-grey-text"> {{ss}} </p></span>
              
            </ul> 
          </div>
        </div>
      </section>
      <section class="pt-5"  >
        <div class="card-columns">
          <div class="card border border-dark" *ngFor = "let project of projects" style="cursor: pointer;">

            <div class="card-body">
              <h5 class="card-title">{{project.projectName}}</h5>
              <p class="card-text">{{project.projectDescription}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{project.datePosted}}</small>
            </div>
          </div>
        </div>
      </section>
  </div>
</main>