<!DOCTYPE html>
<html lang="en">
<head>
  <title>FreeLance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">FreeLance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">DashBoard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hire FreeLance</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/jobs">FreeLancer Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf = "isUserLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> {{profile}} </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/profile">View Profile</a>
          <a class="dropdown-item" href="#" (click)="onSignOut()">Log out</a>
        </div>
      </li>
    </ul>




    <ul class="navbar-nav ml-auto" *ngIf = "!isUserLoggedIn">
      <li class="nav-item">
        <a class="nav-link" href="#"  (click)="openModal()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign Up</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>  -->
  </div>
</nav>
<router-outlet></router-outlet>