<!-- Section: Features v.1 -->
<section class="text-center my-5">
    <h1 class="text-success h1-responsive font-weight-bold my-5">Welcome to the FreeLance Community</h1>
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Why is it so great to FreeLance?</h2>
    <!-- Section description -->
    <p class="lead grey-text w-responsive mx-auto mb-5 text-center cyan-text text-justify">FreeLance is a Indian-based online job portal that is revolutionised the way people search for jobs and find candidates. 
        FreeLance offers a seamless job matching experience across the country. 
        Our platform tackles the power of digital and social media tools to help you reach out to your employers and potential candidates in faster and effective way. 
        We are committed to continuously improve our role in facilitating and communicating job opportunities.
        Sign up today and be one of our success stories!</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="fas fa-chart-area fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Analytics</h5>
        <!-- <p class="grey-text mb-md-0 mb-5">
            <li class="ml-5 pl-2" > Universal Tracking
            Setup universal website tracking across devices with just a few clicks.
        </li><li class="ml-5 pl-2" >Real-time Stats
            Get real-time stats right inside to see who checks your profile online, and more.
        </li><li class="ml-5 pl-2" >Affiliate Link & Ads Tracking
            Automatically track clicks on your affiliate links, ads, and other outbound links with our link tracking.
        </li><li class="ml-5 pl-2" >Complete information
            Understand your site better to check the performance of your profile, content, vacancies, and more.
        </li>
        </p> -->
        <ul class="list-group list-group-flush grey-text mb-md-0 mb-5">
            <li class="list-group-item" style="text-align: center;">Universal Tracking Setup universal website tracking across devices with just a few clicks.</li>
            <li class="list-group-item" style="text-align: center;">Real-time Stats Get real-time stats right inside to see who checks your profile online, and more.</li>
            <li class="list-group-item" style="text-align: center;">Affiliate Link & Ads Tracking Automatically track clicks on your affiliate links, ads, and other outbound links with our link tracking.</li>
            <li class="list-group-item" style="text-align: center;">Complete information Understand your site better to check the performance of your profile, content, vacancies, and more.</li>
          </ul>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="fas fa-book fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Self Employed</h5>
        <p class="grey-text mb-md-0 mb-5"> Build your expertise and earn income as a BOSS.
        </p>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4">
  
        <i class="far fa-comments fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Support</h5>
        <ul class="list-group list-group-flush grey-text mb-md-0 mb-5">
            <li class="list-group-item" style="text-align: center;">We're here to help you however and whenever you need it</li>
            <li class="list-group-item" style="text-align: center;">No matter what  questions you have, we're here to work with you on your terms.</li>
            <!-- <li class="list-group-item" style="text-align: center;">Affiliate Link & Ads Tracking Automatically track clicks on your affiliate links, ads, and other outbound links with our link tracking.</li>
            <li class="list-group-item" style="text-align: center;">Complete information Understand your site better to check the performance of your profile, content, vacancies, and more.</li> -->
          </ul>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Features v.1 -->
    

  
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <!-- Social buttons -->
        <div class="primary-color">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="fb-ic ml-0">
                            <i class="fab fa-facebook white-text mr-4"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!--Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus white-text mr-4"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="li-ic">
                            <i class="fab fa-linkedin white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text mr-lg-4"> </i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>
        <!-- Social buttons -->

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>FreeLance</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">About Us</a>
                    </p>
                    <p>
                        <a href="#!">FAQ</a>
                    </p>
                    <p>
                        <a href="#!">Privacy policy</a>
                    </p>
                    <p>
                        <a href="#!">Fraud Alert</a>
                    </p>
                    <p>
                        <a href="#!">Contact</a>
                    </p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>FreeLancers</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Upload Resume</a>
                    </p>
                    <p>
                        <a href="#!">Search Jobs</a>
                    </p>
                    <p>
                        <a href="#!">Create Job Alert</a>
                    </p>
                    <p>
                        <a href="#!">Report a problem</a>
                    </p>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Hire FreeLancers</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Your Account</a>
                    </p>
                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!">Project Rates</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>
                <!--/.Third column-->


            </div>
        </div>
        <!--/.Footer Links-->
    </footer>
    
    
    <!-- Footer -->