<p>post-project works!</p>
<div class="container m-10 p-5">
    <form  [formGroup]="projectForm">
        <h3>{{this.selectedJob.title}}</h3>
    <div class="form-group">
        <label>Project Name</label>
        <input type="text" class="form-control" formControlName="projectName" [(ngModel)] = "project.projectName">
    </div>
    <div class="form-group">
        <label>Description</label>
    <textarea class="form-control" formControlName="projectDescription" rows="4" cols="50" [(ngModel)] = "project.projectDescription">
    </textarea>
    </div> 
    <div class="form-group">
        <label>Drag and drop any images or documents that might be helpful in briefing your project</label>
        <div class="file-upload-wrapper">
            <input type="file" id="input-file-now" class="file-upload" />
            
          </div>
    </div> 
    <div class="form-group">
      <p>Enter skills that best describe your project and help you find the relevant Freelancers</p>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item col-md-2 " *ngFor= "let skill of project.skills">{{skill}}
          <a class="close float-right"  (click)="removeSkill(skill)" >&times;</a>
        </li>
      </ul>
    </div>
    <div class="form-group">
        <mat-form-field style="width:400px !important" >
            <input  type="text" matInput formControlName="skills" #skillVal (keydown.enter)="addSkill()" [matAutocomplete]="auto" placeholder="Enter the skills you're looking for">
            <mat-icon matSuffix><i class="fas fa-angle-right float-right" style="cursor: pointer;" (click)="addSkill()"></i></mat-icon>
    <mat-hint>Enter up to 5 skills</mat-hint>
          </mat-form-field>
           
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelectedSkills($event.option.value)'>
            <mat-option *ngFor="let result of filteredStates | async" [value]="result.name">{{result.name}}</mat-option>
          </mat-autocomplete>
    </div> 
    <div class="row">
      <div class="col-sm-6 ">
        <div class="card"  #fixedPrice (click)="details(fixedPrice)" id='fixedPrice' style="cursor: pointer;">
          <div class="card-body">
            <h5 class="card-title">Pay fixed price</h5>
            <p class="card-text">Agree on a price and release payment when its done. Best for one time tasks</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="card" #hourlyPrice id='hourlyPrice' (click)="details(hourlyPrice)" style="cursor: pointer;">
          <div class="card-body">
            <h5 class="card-title">Pay hourly price</h5>
            <p class="card-text">Hire based on a hourly rate and pay for hours billed.Best for ongoing work</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <br>
    </div>

<div [hidden] = "isPaymentTypeSelected">
    <div class="form-group">
      <!-- Split button -->
      <div class="row">
        <div class="col-md-1">
<div class="btn-group">
  <button type="button" class="btn ">INR</button>
  <button type="button" class="btn s dropdown-toggle px-3"
  data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <span class="sr-only">Select Project Scope</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" *ngFor = "let value of valueDropdown" (change)="selected()"   value="value" >{{value}}</a>
  </div>
</div>
</div>
<div class="col-md-5">
<select class="custom-select custom-select-sm" formControlName = "projectAmount" >
  <option selected>Choose a price range</option>
  <option *ngFor = "let value of valueDropdown">{{value}}</option>
</select>
</div>
</div>
</div>

    <br>
    <div class="form-group">
      <label for="expectedDateOfCompletion" class="px-3">Enter expected Date of completion</label>
      <input type="date" class="px-3" [min]=minDate formControlName = "expectedDateOfCompletion" id="expectedDateOfCompletion">
    </div>
 
  </div>

    <div class="form-group">
    <button class="btn btn-outline-success my-2 my-sm-0 form-control" type="button" (click)="onsubmit()">Post Project</button>
  </div>
  </form>
     <br/>
     <br/>
      <div>
        <h3> Project Details </h3>
        <p>projectName: {{ projectForm.get('projectName').value }} </p>
        <p> description: {{ projectForm.get('projectDescription').value }} </p>
        <p>projectAmount: {{ projectForm.get('projectAmount').value}}</p>
      </div> 
    </div>
     